#root {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.btn-del {
    color: red;
}

.btn-del:hover {
    cursor: pointer;
    color: rgb(167, 0, 0);
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}
.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
    font-size: 2.5vw;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.carousel a {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .form-select {
        padding: 0.75rem 0.25rem;
    }
    .carousel-caption h2 {
        font-size: 1.5vw;
    }
}
